* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

canvas {
  display: block;
  outline: none;
}
